.shouter {
  display: flex;
  position: absolute;
  top: 40%;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  z-index: 99;
  .emoji {
    span {
      box-shadow: 0 0 15px #302a14;
    }
    cursor: none;
    font-size: 4em;
  }
}
