@mixin for-size($size) {
  @if $size == phone-only {
    @media (max-width: 599px) {
      @content;
    }
  } @else if $size == tablet-portrait-up {
    @media (min-width: 600px) {
      @content;
    }
  } @else if $size == tablet-landscape-up {
    @media (min-width: 900px) {
      @content;
    }
  } @else if $size == desktop-up {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $size == big-desktop-up {
    @media (min-width: 1800px) {
      @content;
    }
  }
}

.Turn {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 10vw;
  height: 20vw;
  background: #a76a26;
  border-radius: 1vw;
  position: relative;
  @include for-size(phone-only) {
    width: 60vw;
    height: 40vw;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    border-radius: 3vw;
  }
  .big {
    width: 5vw;
    height: 5vw;
    top: unset;
    left: unset;
    @include for-size(phone-only) {
      width: 8vw;
      height: 8vw;
      left: calc(50% - 4vw);
    }
  }

  .button {
    background: #e8cc7b;
    border-radius: 10%;
    color: #5a2409;
    font-weight: 600;
    padding: 0.8vw;
    border: none;
    @include for-size(phone-only) {
      border-radius: 2vw;
      padding: 2vw;
    }
    &:hover {
      background: #e8cc00;
      cursor: pointer;
    }
  }
  .infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
    position: relative;
    @include for-size(phone-only) {
      flex-direction: column;
      align-self: center;
      position: relative;
      flex: 3;
      height: 100%;
    }
  }
  .title {
    width: 100%;
    font-size: 1.1em;
    font-weight: 100;
    color: #ffe;
    margin-bottom: 1vw;
  }
  .info {
    color: #fff9e9;
  }
  .toolsContainer {
    @include for-size(phone-only) {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      flex: 3;
      margin-right: 2vw;
    }
    .topTools {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      padding-top: 0.5vw;
      @include for-size(phone-only) {
        position: unset;
        top: unset;
        left: unset;
        padding: unset;
        flex: 1;
      }
    }
    .bottomTools {
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      padding-bottom: 0.5vw;
      @include for-size(phone-only) {
        position: unset;
        top: unset;
        left: unset;
        padding: unset;
        flex: 1;
      }
      .gCode {
        color: #fff;
      }
    }
    .toolDiv {
      flex: 1;
      height: 1vw;
      @include for-size(phone-only) {
        height: 5vw;
      }
    }
    .tools {
      color: #2b221985;
      &:hover {
        color: #fff;
        cursor: pointer;
        width: 1.1em;
        height: 1.1em;
      }
    }
  }
}

.tooltip.top {
  bottom: 1.4vw;
}
.tooltip.bottom {
  top: 1.5vw;
}
.tooltip {
  visibility: hidden;
  width: 5vw;
  background-color: #e8c17b;
  color: #2b2219;
  text-align: center;
  border-radius: 6px;
  padding: 5pt 0;
  font-size: small;
  position: absolute;
  z-index: 99;
}
.toolDiv svg:hover + .tooltip {
  visibility: visible;
  @include for-size(phone-only) {
    visibility: hidden;
  }
}
