.App {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

.board {
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  .row {
    border-bottom: 1vw solid #272c31;
    border-left: 1vw solid #272c31;
    border-right: 1vw solid #272c31;
    .cross {
      color: #999;
    }
  }
}

.Turn {
  background: #35393e;
  .tools {
    color: #868686;
  }
  .button {
    background: #c5c5c5;
    &:hover {
      background: #e6e6e6;
    }
  }
}

// Kyototheme:
// background: #c21500;  /* fallback for old browsers */
// background: -webkit-linear-gradient(to right, #ffc500, #c21500);  /* Chrome 10-25, Safari 5.1-6 */
// background: linear-gradient(to right, #ffc500, #c21500); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

// BlueprintBG:{
//   background-color: #269;
//   background-image:
//     linear-gradient(rgba(255,255,255,.5) 2px, transparent 2px),
//     linear-gradient(90deg, rgba(255,255,255,.5) 2px, transparent 2px),
//     linear-gradient(rgba(255,255,255,.28) 1px, transparent 1px),
//     linear-gradient(90deg, rgba(255,255,255,.28) 1px, transparent 1px);
//   background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
//   background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
// }

// Boxesbody,html {height:100%;overflow:hidden;}
// body {
//   width: 100%;
//   height: 100%;
//   position: absolute;
//   background: linear-gradient(to bottom, #6e529d 0%,#d97b93 100%);
// }
// div {
//   border: 1px solid rgba(255,255,255,.1);
//   width: 10em;
//   height: 10em;
//   transform: rotate(45deg);
//   margin: 2em;
//   float: left;
//   background: linear-gradient(135deg, rgba(255,255,255,0.05) 0%,rgba(0,0,0,0.05) 100%);
// }
